* {
padding: 0;
margin: 0;
font-family: sans-serif;
}

body{
  background: gray;
}

.container {
  max-width:1170px;
  
}

.calculator {
  margin: 200px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

input {
  border-radius: 7px;
  padding: 5px 10px;
  width: 400px;
  height: 30px;
}

.operators {
  margin: 10px 0;
}

.operators button {
display: block;
margin: 0 auto;
width: 65px;
font-size: medium;
}

.operators .btn_down {
  width: 20px;
}
.more {
  text-align: center;
}

.more button {
  display: inline;
}

.dropdown {
  margin-left: -20px;
}

.result {
  display: block;
  margin-top: 15px;
}


.calculate {
  display: block;
  border: solid 3px black;
  background: transparent;
  width: 150px;
  height: 32px;
  margin: 20px auto;
  cursor: pointer;
}

@media (max-width: 450px) {
  .calculator input {
    width: 350px;
  }
}


@media (max-width: 400px) {
  .calculator input {
    width: 320px;
  }
}

